#container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

}

div#container div:hover{
    background-color: yellow;

}

.grid-item {
  padding: 1em;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;

}